.gantt-chart {
  display: grid;
  grid-template-columns: 2fr 3fr; 
  gap: 20px; 
  padding: 10px;
}

.gantt-table-container{
  overflow-x: auto;
}
.gantt-table { 
 
  border-collapse: collapse;
  table-layout: fixed;
}

.gantt-header th{
  padding-top: 30px;
  padding-bottom: 30px;  
}
.gantt-left {
  display: grid; 
  grid-template-columns: 1fr 3fr 2fr 2fr; 
  padding: 10px;
} 

.gantt-row-name{
 padding-left: 30px;
}

.gantt-row td{
  padding: 10px;
}
/* 
.gantt-bar-container {
  display: flex; 
  flex-direction: column;
}

.gantt-bar {
  height: 20px;
  margin-right: 10px;
}

.gantt-bar.estimate {
  background-color: #1f77b4;
}

.gantt-bar.actual {
  background-color: #ff7f0e;  
} */




